*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: sans-serif;
    color: gold;
    margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: gold;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    font-family:  sans-serif;
    background-color: #363636;
    font-size: 1em;
    color: white;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}